<div>
    {{#with newsBlock}}
    <div>
        <div>
            <h3 class="text-center mt-5">{{title}}</h3>
        </div>
        <div class="col-12">
            <div class="row">
                {{#each cards}}
                <div class="col-3 g-1">
                    <div class="card text-bg-dark mb-2">
                        <div class="card-header">
                            {{title}}
                            {{#if isTop}}
                            <div class="badge rounded-pill text-bg-danger mx-1">Топ</div>
                            {{/if}}
                            {{#if idNew}}
                            <div class="badge rounded-pill text-bg-success mx-1">Нова</div>
                            {{/if}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}

    <hr class="my-5">

    {{#with goodsBlock}}
    <div>
        <ul class="nav nav-tabs mb-4">
            {{#each tabs}}
            <li class="nav-item">
                {{#if isActive}}
                <a class="nav-link active" href="#">{{text}}</a>
                {{/if}}
                {{#if isDisabled}}
                <a class="nav-link disabled" href="#">{{text}}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
    {{> shopcard}}
    {{/with}}

    <hr class="my-5">

    <section>
        {{#with subscribe}}
        <div class="alert bg-dark text-light row">
            <div class="col-6">
                <h2 class="card-title pb-3">{{header}}</h2>
                <p class="card-text ">{{description}}</p>
            </div>
            <div class="col-6 text-end">
                {{#each buttons}}
                <a rel="{{type}}" href=" {{link}}" class="btn btn-primary me-1 mt-4">{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

</div>