<div style="margin: 30px;">
    {{#with navigation}}
    <div>
        {{#each links}}
        <a href="{{href}}" target="_blank" class="btn btn-link">{{text}}</a>
        {{/each}}
        {{#with button}}
        <a href="{{href}}" target="_blank" class="btn btn-primary">{{text}}</a>
        {{/with}}
    </div>
    {{/with}}
    <hr>
    <br>
    {{#with header}}
    <div>
        <h1 class="display-1">{{title}}</h1>
        <p>{{description}}</p>
        {{#with button}}
        <a href="{{link}}" target="_blank" class="btn btn-primary">{{text}}</a>
        {{/with}}
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with city}}
    <div>
        <h2 class="display-2">{{title}}</h2>
        <section class="col-12">
            <div class="row">
                {{#each cards}}
                <div class="col-6 g-4">
                    <div class="card">
                        <img src="{{picture.src}}" class="card-img-top" alt="{{picture.alt}}">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <a href="{{button.href}}" target="_blank" class="btn btn-primary">{{button.text}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
    {{/with}}
    <br>

    <hr>
    <br>
    <section>
        {{#with winner}}
        <h2 class="display-2">{{title}}</h2>
        <br>
        <table class="table ">
            {{#with table}}
            <thead class="text-capitalize">
                <tr>
                    {{#each head}}
                    <th>
                        {{this}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <th>{{place}}</th>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
            {{/with}}
        </table>
        {{/with}}
    </section>
    <br>
    <hr>
    <br>
    <div>
        <h2 class="display-2">{{gallery.title}}</h2>
        <section class="col-12">
            {{#with gallery}}
            <div class="row">
                {{#each cards}}
                <div class="col-4 g-1">
                    <div class="card">
                        <div class="card-header">
                            {{name}}
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each items}}
                            <li class="list-group-item">{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
    </div>
    <br>
    <hr>
    <br>
    {{#with relaxion}}
    <div>
        <h3 class="display-3">{{title}}</h3>
        <section class="col-12">
            <div class="row">
                {{#each cards}}
                <div class="col-6 g-4">
                    <div class="card text-bg-secondary">
                        <div class="card-header">
                            {{header}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-tittle">{{title}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with rest}}
    <div>
        <section class="col-12">
            <div class="row">
                {{#each cards}}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center">
                            {{header}}
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-tittle">{{title}}</h5>
                            <p>{{description}}</p>
                            <button class="btn btn-primary">{{button}}</button>
                        </div>
                        <div class="card-footer text-center">
                            {{footer}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with proposition}}
    <div>
        <h2 class="display-2">{{title}}</h2>
        <section class="col-12">
            <br>
            <div class="row">
                {{#each card}}
                <div class="col-6">
                    <div class="card text-bg-warning text-light">
                        <div class="card-header">
                            {{header}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-tittle">{{title}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
    {{/with}}
    <br>
    <hr>
    <section class="row">
        {{#with footer}}
        <h5>{{title}}</h5>
        <br>
        <br>
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <div class="row gy-2">
                        {{#each navigation}}
                        <div>
                            <a href="{{href}}" target="_blank" class="btn btn-link btn-sm">{{text}}</a><br>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-4">
                    <div class="row gy-2">
                        {{#each socialMedia}}
                        <div>
                            <a href="{{link}}" target="_blank" class="btn btn-outline-dark btn-sm">{{name}}</a><br>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-4">
                    <div class="row gy-2">
                        {{#each partners}}
                        <div>
                            <a href="{{link}}" target="_blank" class="btn btn-outline-info btn-sm">{{name}}</a><br>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </section>
</div>